@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background-image: url("/bkg.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
} */
